/* 
    General Styles
*/
.signupForm {
    background-color: rgba(228, 222, 222, 0.61)
}

img {

max-width: 100%;

}

html {
  position: relative;
  min-height: 100%;
}
.camera {
    background-color: purple;
}
body {
  /* Margin bottom by footer height */
  background-color: #ffffffee;
  background-blend-mode: color;
    background-image: url("https://png.pngtree.com/element_our/png_detail/20181011/dog-logo-vector-with-continuous-one-line-art-style-minimalist-png_133448.jpg");
    
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  margin-bottom: 60px;
}
.emptyDiv {
    height: 80px;
}
.open {
    width: 250px;
    background-color: blue;
}
.close {
    width: 0px;
    background-color: red;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.Navbar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ececec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


